<%- include('inc/head.ejs') %>
<%- include('inc/header.ejs') %>

<%- include('login.ejs') %>
<%- include('register.ejs') %>

<!--Begin CONTAINER-->
<div class="container">
    <!--Begin ENSU-->
    <div class="row">
        <div class="col s2 "></div>
        <div class="col s8 "><h3 class="light-blue-text text-darken-4 center-align">Antecedentes SidemexIA</h3></div>
        <div class="col s2 "></div>
    </div>
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            La percepción de la inseguridad en la población mexicana va en aumento de acuerdo con los resultados del trigésimo levantamiento de la Encuesta Nacional de Seguridad Pública Urbana (ENSU), realizada por el INEGI en la primera quincena de marzo de 2021, durante ese mes 66.4% de la población de 18 años y más consideró que vivir en su ciudad es inseguro.
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="card-panel col s12">
            <p class="section center-align">
                <img src="Assets/images/grafica-ensu-2021.png" alt="" class="responsive-img materialboxed"> <!-- notice the "circle" class -->
            </p>
            <p class="center-align">
                Fuente: INEGI. Encuesta Nacional de Seguridad Pública Urbana (ENSU).<br/><br/>
                Nota: <br/>
                a) Porcentaje de la población de 18 años y más residente en las ciudades de interés que considera que vivir actualmente en su ciudad es inseguro.<br/>
                Excluye la opción de respuesta “No sabe o no responde”.<br/>
                b) Debido a la emergencia sanitaria generada por el virus SARS-CoV2, fue cancelado el levantamiento correspondiente al segundo trimestre de 2020, cuyos resultados serían publicados el 15 de julio de 2020.<br/>
            </p>
            <p class="center-align">
            Link:<a target="_blank"  rel="noopener noreferrer" href="https://www.inegi.org.mx/programas/ensu/"> Encuesta ENSU</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            En específico, 78.4% de la población siente inseguridad en los cajeros automáticos localizados en la vía pública, 71.2% en el transporte público, 63.4% en el banco y 59.2% en las calles que habitualmente usa.
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align">
            <b>Porcentaje de la población de 18 años y más que se siente insegura por tipo de lugar Diciembre de 2020 y marzo de 2021.</b>
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="card-panel col s12">
            <p class="section center-align">
                <img src="Assets/images/porcentaje-ensu.png" alt="" class="responsive-img"> <!-- notice the "circle" class -->
            </p>
            <p class="center-align">
                Nota: Porcentaje de la población de 18 años y más residente en las ciudades de interés. Excluye la opción de respuesta “No sabe o no responde”. <br/>
                Fuente: INEGI. Encuesta Nacional de Seguridad Pública Urbana (ENSU).
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            A partir de marzo de 2021, en el apartado de problemáticas urbanas, se estima el porcentaje de personas que identificó hospitales saturados o con servicio deficiente como uno de los problemas más importantes en las ciudades.<br/><br/>

            La ENSU, con periodicidad trimestral, ha realizado a la fecha treinta levantamientos. El primero de ellos se llevó a cabo en septiembre de 2013. 

        </div>
        <div class="col s1 "></div>
    </div>
    <!--End ENSU-->

    <!--Begin Mitofsky-->
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            Por otro lado, con base en, la encuesta nacional de percepción de inseguridad ciudadana en México, publicada en octubre de 2017 por consulta Mitofsky, el mexicano, ha dejado de realizar actividades a consecuencia de la delincuencia, tales como:<br/>
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="col s3 "></div>
        <div class="col s6 center-align" id="text">
            <ul>
                <li><i class="material-icons">task_alt</i>El 69% decidió cargar menos dinero en efectivo.</li>
                <li><i class="material-icons">task_alt</i>El 59% trata de no salir en las noches.</li>
                <li><i class="material-icons">task_alt</i>El 54% prefiere no usar joyas.</li>
                <li><i class="material-icons">task_alt</i>El 53% no deja jugar a los niños en la calle.</li>
            </ul>
        </div>
        <div class="col s3 "></div>
    </div>
    <!--End Mitofsky-->

    <!--Begin cobertura-->
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            Por otra parte, la difusión y cobertura de noticias de medios en términos de seguridad, muestra que:<br/>
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="col s2 "></div>
        <div class="col s8 center-align" id="text">
            <ul>
                <li><i class="material-icons">task_alt</i>El 54% considera que no se informa de todo lo que ocurre, así como la omisión de sucesos más graves</li><br/>
                <li><i class="material-icons">task_alt</i>El 16% cree que es exagerado el hablar todo el tiempo de violencia.</li><br/>
                <li><i class="material-icons">task_alt</i>El 37% de mexicanos considera que es peligroso ayudar a la policía en su ciudad (véase Gráfico 4).</li><br/>
            </ul>
        </div>
        <div class="col s2 "></div>
    </div>
    <!--End cobertura-->

    <!--Begin Asociacion de Internet-->
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            Así mismo, la asociación mexicana de Internet indica que las redes sociales permanecen como principal actividad en línea para los usuarios en México debido a esto se ha dejado de lado la búsqueda de información en otros medios. <br/>
            <p class="center-align">
                Link:<a target="_blank"  rel="noopener noreferrer" href="https://www.asociaciondeinternet.mx/estudios/habitos-de-internet"> Hábitos de los Usuarios de Internet en México</a>
            </p>
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="card-panel col s12">
            <p class="section center-align">
                <img src="Assets/images/actividades-en-linea.png" alt="" width="1512" height="719" class="responsive-img materialboxed"> 
            </p>
            <p class="center-align">
                Fuente: Asociación Mexicana de Internet (Asociación de Internet MX).
            </p>
        </div>
    </div>
    <!--End Asociacion de Internet-->

    <!--Begin Fake News-->
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            No debemos dejar de lado las Fake News las cuales se caracterizan por:<br/>
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="col s2 "></div>
        <div class="col s8 center-align" id="text">
            <ul>
                <li><i class="material-icons">task_alt</i>Buscan desinformar al publico a través de contenido falso con el fin de influir en la opinión de algún tema en específico.</li><br/>
                <li><i class="material-icons">task_alt</i>Noticias erróneas que se caracterizan por la omisión de detalles, la información es inexacta o se crea y se difunde por error.</li><br/>
            </ul>
        </div>
        <div class="col s2 "></div>
    </div>
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            Un factor importante que conlleva a la desinformación social es que un porcentaje de la población en México no lee.<br/>
        </div>
        <div class="col s1 "></div>
    </div>
    <!--End Fake News-->

    <!--Begin MOLEC-->
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            Por tal motivo, recurrimos a El Módulo sobre Lectura (MOLEC) realizado por el INEGI (Ultima actualización 22 de abril de 2021) el cual tiene el propósito de generar información estadística sobre el comportamiento lector de la población mexicana de 18 años y más.<br/>
            <p class="center-align">
                Link:<a target="_blank"  rel="noopener noreferrer" href="https://www.inegi.org.mx/programas/molec/"> Módulo sobre Lectura (MOLEC) - INEGI</a>
            </p>
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align" id="text">
            Este Módulo arrojo los siguientes resultados:<br/>
            <ul>
                <li><i class="material-icons">task_alt</i>•	Entre 2016 y 2021, el porcentaje de población lectora de libros en formato digital pasó de 6.8 a 21.5%; los lectores de revistas aumentaron de 2.6 a 21.6% y los de periódicos digitales, de 5.6 a 21.3 por ciento.</li><br/>
                <li><i class="material-icons">task_alt</i>•	El 71.6% de la población de 18 años y más que saben leer y escribir un recado declaró leer alguno de los materiales considerados por MOLEC. Comparado con 2016, hay una reducción de 9.2% en este grupo de población.</li><br/>
                <li><i class="material-icons">task_alt</i>•	El promedio de libros que leyó la población adulta lectora en los últimos 12 meses fue de 3.7 ejemplares, cifra que no se alcanzaba desde 2017.</li><br/>
                <li><i class="material-icons">task_alt</i>•	Los dos motivos principales para no leer son la falta de tiempo; y falta de interés, motivación o gusto por la lectura. </li><br/>
            </ul>
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align">
            <b>Distribución porcentual de la población de 18 y más años alfabeta no lectora de los materiales del MOLEC, según motivo para la no lectura</b>
        </div>
        <div class="col s1 "></div>
    </div>
    <div class="row">
        <div class="card-panel col s12">
            <p class="section center-align">
                <img src="Assets/images/molec.png" alt="" width="1512" height="719" class="responsive-img materialboxed"> 
            </p>
            <p class="center-align">
                Fuente: INEGI. Módulo sobre Lectura 2021.
            </p>
        </div>
    </div>
    <!--End MOLEC-->
    <br/>
    <!--Begin SIDEMEXIA-->
    <div class="row">
        <div class="col s12 center-align flow-text" >
            Por estos motivos es que nace SidemexIA con el fin de combatir a la desinformación dando a conocer la incidencia de delitos en el área metropolitana, con base a diferentes fuentes de Información.<br/>
        </div>
    </div>
    <div class="row">
        <div class="col s3 "></div>
        <div class=" col s6">
            <p class="section center-align">
                <img src="Assets/images/Logo Sidemex IA.png" alt="" width="900" height="417" class="responsive-img"> 
            </p>
        </div>
        <div class="col s3"></div>
    </div>
    <!--END SIDEMEXIA-->
</div>
<!--END CONTAINER-->


<!-- Compiled and minified JavaScript -->
<script>
    //Begin img grande
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
    //End img grande
</script>

<%- include('inc/footer.ejs') %>

