<%- include('inc/head.ejs') %>
<%- include('inc/header.ejs') %>

<%- include('login.ejs') %>
<%- include('register.ejs') %>

<!--Begin Como Funciona-->
<div class="container">
    <div class="row">
        <div class="col s2 "></div>
        <div class="col s8 "><h3 class="light-blue-text text-darken-4 center-align">¿Cómo Funciona?</h3></div>
        <div class="col s2 "></div>
    </div>
    <div class="row">
        <div class="col s1 "></div>
        <div class="col s10 center-align flow-text">En este apartado aparecera el funcionamiento de la aplicación desde el registro y los resultados posibles con imágenes responsive.</h3></div>
        <div class="col s1 "></div>
    </div>
</div>
<!--End Como Funciona-->


<%- include('inc/footer.ejs') %>

